body
  font: 14px "Monaco", monospace
  background: black
  color: #68f312
  margin: 0
  padding: 5px

#chat_message_label 
  height: 20px

#chat_message
  font: 14px "Monaco", monospace
  background: black
  color: #68f312
  margin: 5px 0 0 5px
  padding: 0
  border: 0px
  height: 20px
  width: 90%

#chat_message:focus
  outline: none